:root {
  --primary-color: #{$primary-color};

  --black-color: #{$black-color};
  --white-color: #{$white-color};
  --grey-color: #{$grey-color};
  --pink-color: #{$pink-color};

  --text-color: #{$text-color};
}
